*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

.auth-page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(
135deg,
#eef2ff,
#dbeafe
);
}

.auth-card{
width:420px;
background:white;
padding:40px;
border-radius:18px;
display:flex;
flex-direction:column;
gap:18px;
box-shadow:0 10px 35px rgba(0,0,0,.1);
}

.auth-title{
font-size:32px;
font-weight:700;
text-align:center;
}

.auth-sub{
text-align:center;
color:gray;
}

.auth-card input{
padding:15px;
border:1px solid #ddd;
border-radius:10px;
}

.primary-btn{
padding:15px;
border:none;
border-radius:10px;
background:#2563eb;
color:white;
cursor:pointer;
}

.secondary-link{
text-align:center;
cursor:pointer;
color:#2563eb;
}